name: Kotlin CI with Amper

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Grant execute permission for amper
        run: chmod +x ./amper

      - name: Build with Amper
        run: ./amper build

      - name: Test with Amper
        run: ./amper test
